li.playing:before {
    content: '♬';
    width: 14px;
    height: 14px;
    padding: 3px;
    line-height: 14px;
    margin: 0px;
    position: absolute;
    left: -35px;
    top: 9px;
    color: whitesmoke;
    font-size: 13px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

li.playing {
    border-bottom: 2px whitesmoke solid;
   font-weight: bold;
}

ol+li:hover {
    background-color: white;
}


li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ol li {
    position: relative;
    margin: 0px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    color: #444;
    cursor: pointer;
    padding: 5px;
    padding-left: 12px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

li.playing + .panel {
    display: flow;
    max-height: fit-content;
}

#audiojs_wrapper0 {

    margin: auto;

}