{% extends 'artist_website/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Formulaire de contact</h1>
{% if messages %}
    {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %}>
            <span>{{ message }}</span>
        </div>
    {% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form |crispy }}
    <div class="form-actions">
        <button type="submit">Envoyer</button>
    </div>
</form>
{% endblock %}